
<nb-card>
    <nb-card-header>
        <div class="d-flex w-100">
             
            <div class="ps-2">
                <nb-button-group ghost outline>
                    <button nbButtonToggle status="primary" (click)="getList(-1)" class="m-1"
                        [pressed]="noOfDays == -1">ALL</button>
                    <button nbButtonToggle status="primary" (click)="getList(365)" class="m-1"
                        [pressed]="noOfDays == 365">1Y</button>
                    <button nbButtonToggle status="primary" (click)="getList(180)" class="m-1"
                        [pressed]="noOfDays == 180">6M</button>
                    <button nbButtonToggle status="primary" (click)="getList(90)" class="m-1"
                        [pressed]="noOfDays == 90">3M</button>
                    <button nbButtonToggle status="primary" (click)="getList(31)" class="m-1"
                        [pressed]="noOfDays == 31">1M</button>
                    <button nbButtonToggle status="primary" (click)="getList(14)" class="m-1"
                        [pressed]="noOfDays == 14">2W</button>
                    <button nbButtonToggle status="primary" (click)="getList(7)" class="m-1"
                        [pressed]="noOfDays == 7">1W</button>
                </nb-button-group>
            </div>
            <div class="ms-auto"></div>
            <span class="ps-2 mx-3">
                <input nbInput placeholder="Pick a date range" class="form-control" [nbDatepicker]="datepicker"
                    size="small" [(ngModel)]="selectedDateRange">
                <nb-rangepicker #datepicker (rangeChange)="selectedDate($event)"></nb-rangepicker>
            </span>
            <nb-actions class="justify-content-end">
                <nb-action nbTooltip="refresh" nbTooltipPlacement="left" icon="refresh-outline"></nb-action>
            </nb-actions>
        </div>
    </nb-card-header>
    <nb-card-body>
    </nb-card-body>
</nb-card>