
<nb-card>
  <nb-card-header class="">
      <nb-button-group ghost outline>
          <button nbButtonToggle  status="primary" (click)="getvitalsList()" class="m-1"
              [pressed]="noOfDays == -1">ALL</button>
          <button nbButtonToggle  status="primary" (click)="getvitalsList()" class="m-1"
              [pressed]="noOfDays == 365">1Y</button>
          <button nbButtonToggle  status="primary" (click)="getvitalsList()" class="m-1"
              [pressed]="noOfDays == 180">6M</button>
          <button nbButtonToggle  status="primary" (click)="getvitalsList()" class="m-1"
              [pressed]="noOfDays == 90">3M</button>
          <button nbButtonToggle  status="primary" (click)="getvitalsList()" class="m-1"
              [pressed]="noOfDays == 31">1M</button>
          <button nbButtonToggle  status="primary" (click)="getvitalsList()" class="m-1"
              [pressed]="noOfDays == 14">2W</button>
          <button nbButtonToggle  status="primary" (click)="getvitalsList()" class="m-1"
              [pressed]="noOfDays == 7">1W</button>
      </nb-button-group>
  </nb-card-header>
  <nb-card-body>
    
  </nb-card-body>
</nb-card>