
.login {
   min-height: 100vh;
   
 }
 
 .bg-image {
   background-image: url('https://az837918.vo.msecnd.net/publishedimages/articles/1733/en-CA/images/cover/1/free-download-this-stunning-alberta-scene-for-your-device-background-image-L-6.jpg');
   background-size: cover;
   background-position: center;
   margin-top: 30px;
   margin-bottom: 30px;
  
 }
 
 .login-heading {
   font-weight: 500;
   color: blue;
 }
 
 .btn-login {
   font-size: 0.9rem;
   letter-spacing: 0.05rem;
   padding: 0.75rem 1rem;
 }


