<nb-card>
   <nb-card-body>
      <nb-tabset fullWidth>
         <nb-tab tabTitle="Task">
         </nb-tab>
         <nb-tab tabTitle="Completed">
         </nb-tab>
      </nb-tabset>
     <div class="d-flex">
      <nb-icon style="font-size:2rem;" (click)="gettasklist(-1)" icon="arrow-ios-back-outline"></nb-icon>
      <input nbInput placeholder="Date" class="form-control" [nbDatepicker]="datePicker"
      size="small"[(ngModel)]="dateValue" >
      <nb-datepicker #datePicker></nb-datepicker>
      <nb-icon style="font-size:2rem;" (click)="gettasklist(1)" icon="arrow-ios-forward-outline">
      </nb-icon>
         <button nbButton status="info" (click)="gettasklist()">Today</button>
     </div>
   </nb-card-body>
</nb-card>
  