<!-- <p (click)="assesslist()">assessment works!</p> -->
<nb-card size="medium"class="mb-0">
    <nb-card-header class="ms-auto">
        <nb-actions size="medium">
            <nb-action icon="plus-circle-outline"></nb-action>
            <nb-action icon="refresh-outline"></nb-action>
          </nb-actions>
    </nb-card-header>
    <nb-card-body>
              <ngx-datatable class="material h-100" [rows]="rows" columnMode="force" [headerHeight]="50" [footerHeight]="0" 
              [rowHeight]="50" [scrollbarV]="true" >
              <ngx-datatable-column name=" "  prop="parseExtraData" [flexGrow]="3" >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <nb-user size="medium" class="" [picture]="value?.profileImageUrl " onlyPicture></nb-user>
                </ng-template>
              </ngx-datatable-column>
                <ngx-datatable-column name=" Stared "  prop="ethnicity" [flexGrow]="3">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    {{getValue(value) }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Processed" prop="processed">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    {{getValue(value)}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Assessment Name" prop="assessmentName">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="State"  prop="state">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value}}
                  </ng-template>  
                </ngx-datatable-column>
                <ngx-datatable-column name="Interview"  prop="interview">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Assigned To" prop="providerID">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Action" prop="address.state">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value}}
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
    </nb-card-body>
</nb-card>
