<!-- <p (click)="alertslist()">alerts works!</p> -->
<nb-card class="mb-0" size="medium" class="mb-0">
    <nb-card-body >
        <div class="d-flex justify-content-end my-2">
                  <button nbButton > Clear All</button>
            <nb-actions size="medium">
                <nb-action icon="plus-outline"></nb-action>
                <nb-action icon="refresh-outline"></nb-action>
            </nb-actions>
        </div>
        <ngx-datatable class="material h-100" [rows]="rows" columnMode="force" [headerHeight]="50" [footerHeight]="0" 
            [rowHeight]="50" [scrollbarV]="true" >
            <ngx-datatable-column name=" "  prop="alertValue">
                <ng-template let-value="value" ngx-datatable-cell-template >
                    <nb-icon *ngIf="value == 1" status="danger"icon="alert-circle-outline"></nb-icon>
                    <nb-icon *ngIf="value == 2" status="success" icon="alert-circle-outline"></nb-icon>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Created Date" prop="alertTime"> 
                <ng-template let-value="value" ngx-datatable-cell-template>
                    <span>{{getDateValue(value)}}</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Status" prop="alertStatus" [maxWidth]="100">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span [ngClass] ="{'text-success': value ==2, 'text-danger': value == 1, 'text-warning': value ==0}">{{alertStatus(value) || "-"}}   </span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Resolved Date" prop="alertResolved">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    <span>{{getDateValue(value)}}</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Notes" prop="alertData" [maxWidth]="100">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <a (click)="viewNotes(row)">view Notes</a> 
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Reading" prop="alertData">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{ value }}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Rule" prop="rule">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{ value }}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Action" prop="">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{ value }}
                </ng-template>
            </ngx-datatable-column> 
        </ngx-datatable>
        <!-- <div>{{rows | json}}</div> -->
        <!-- <div *ngFor="let row of rows">{{row | json}}</div> -->
    </nb-card-body>
</nb-card>
