<nb-card class="sidegap" size="giant">
<div class="row mb-3">
    <div class="col">
        <nb-icon icon="arrow-back-outline" class="fs-3 cursor-pointer "></nb-icon>
    </div>
    <div class="col-12 text-center col-sm-12 col-md-6 col-lg-4 col-xl-2  mt-2">
        <button nbButton  status='primary' size="medium"class="w-100  me-2 ">Message</button>
    </div>
    <div class="col-12 text-center col-sm-12 col-md-6 col-lg-4 col-xl-2  mt-2">
        <button nbButton status='danger' class="w-100  me-2 "  size="medium">Start Waiting Room Call</button>
    </div>
    <div  class="col-12 text-center col-sm-12 col-md-6 col-lg-4 col-xl-2  mt-2">
        <button nbButton  status='success'class="w-100  me-2" size="medium">Provider Private Notes</button>
    </div>
    <div class="col-12 text-center col-sm-12 col-md-6 col-lg-4 col-xl-2  mt-2">
        <button nbButton size="medium" status='warning'class="w-100 me-2 " size="medium">Visit Summary</button>
    </div>
    <div class="col-12 text-center col-sm-12 col-md-6 col-lg-4 col-xl-2  mt-2">
        <button nbButton status='info'class="w-100  me-2 " size="medium" nbButton >Actions</button>
    </div>
</div>
<div class=" h-100">
    <iframe  width="100%" height="100%" frameBorder="0" [src]="urlSafe"></iframe>  
</div>
</nb-card>





       
