<nb-card class="sidegap" size="large">
    <nb-card-header>
        <div class="row">
            <div class="col-12 text-center col-sm-12 col-md-6 col-lg-4 col-xl-2  mt-1">
              <button nbButton shape="rectangle" status="primary" class="w-100 px-0 me-5 " (click)="bucket('waitingroom')">
                <nb-icon icon="clock-outline"></nb-icon>WAITING ROOM
                {{getStatsNub('6')}} 
              </button>
            </div>
            <div class="col-12 text-center col-sm-12 col-md-6 col-lg-4 col-xl-2  mt-1">
              <button nbButton shape="rectangle" status="success" class="w-100 px-0 me-5" (click)="bucket('scheduled')"> 
                <nb-icon icon="calendar-outline"></nb-icon>SCHEDULED
                {{getStatsNub('1')}}
              </button>
            </div>
            <div  class="col-12 text-center col-sm-12 col-md-6 col-lg-4 col-xl-2  mt-1">
              <button nbButton shape="rectangle" class="btn_async w-100 px-0 me-5" (click)="bucket('Asynchronous')">
                 <nb-icon icon="flip-2-outline"></nb-icon>ASYNCHRONOUS 
                 {{getStatsNub('0')}}
                </button>
            </div>
            <div class="col-12 text-center col-sm-12 col-md-6 col-lg-4 col-xl-2  mt-1">
              <button nbButton shape="rectangle" status="danger" class="w-100 px-0 me-5" (click)="bucket('callback')">
                 <nb-icon icon="phone-call-outline"></nb-icon>CALLBACK
                 {{getStatsNub('3')}}
                </button>
            </div>
            <div class="col-12 text-center col-sm-12 col-md-6 col-lg-4 col-xl-2  mt-1">
              <button nbButton shape="rectangle" status="warning" class="w-100 px-0 me-5" (click)="bucket('followup')">
                 <nb-icon icon="list-outline"></nb-icon>FOLLOW UP
                 {{getStatsNub('4')}}
                </button>
            </div>
            <div class="col-12 text-center col-sm-12 col-md-6 col-lg-4 col-xl-2  mt-1" >
              <button nbButton shape="rectangle" class=" btn_comp w-100 px-0 me-5" (click)="bucket('completed')"> 
                <nb-icon icon="checkmark-outline"></nb-icon>COMPLETED
                {{getStatsNub('7')}}
              </button>
            </div>
          </div>
    </nb-card-header>
    <nb-card-body>
      <router-outlet></router-outlet>
    </nb-card-body>
</nb-card>
