.btn_async{
    background-color: mediumslateblue !important;
    color: white !important;
}
.btn_comp{
    background-color: rgb(124, 118, 118) !important;
    color: white !important;
}
input[type="search"][value="dark"]::-webkit-search-cancel-button {
    background:
     linear-gradient(135deg, transparent 0%,transparent 43%,#fff 45%,#fff 55%,transparent 57%,transparent 100%) ;
  }

  .sidegap{
    margin-left: 80px;
     height: 87vh;
 }